<div class="cart-item">
  <div class="cart-item-header">
    <h3><%= order_item.product.name%></h3>
    <div class="cart-item-actions">
      <!-- Edit the Order Item (Bootstrap Modal) -->
      <%= link_to ('<i class="fa-solid fa-pen-to-square"></i>').html_safe,  '#', 'data-target' => "#myModal_#{order_item.id}", 'data-toggle' => 'modal', class: "fs-4"  %>
        <div class="modal fade" id='<%= "myModal_#{order_item.id}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Modifier l'article : <%= order_item.product.name%></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= render 'cart_item_form', order_item: order_item %>
              </div>
            </div>
          </div>
        </div>
      <!-- Delete the Order Item (Bootstrap Modal) -->
      <%= link_to ('<i class="fa-regular fa-trash-can"></i>').html_safe, order_item_path(order_item), class: 'text-danger fs-4', data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr/sure?" } %>
    </div>
  </div>
  <div class="cart-item-info">
    <div class="cart-item-spec1">
      <ul class="cart-item-images">
        <% order_item.product.photos.each do |photo| %>
          <img src="<%= cl_image_path photo.key %>" alt="">
        <% end %>
      </ul>
      <p class="mt-3 mb-1 pl-1">Message :</p>
      <p class="form-control mt-0 font-italic">"<%= order_item.message %>"</p>
    </div>

    <% if order_item.product.product_type == "Custom" %>
    <div class="cart-item-spec2">
      <p>Budget : <%= humanized_money_with_symbol(order_item.subtotal - order_item.options) %></p>
      <% if order_item.water_bubble %>
        <p>Bulle d'eau : <%= humanized_money_with_symbol(order_item.options) %></p>
        <p class="total">Total : <%= humanized_money_with_symbol(order_item.subtotal) %></p>
      <% end %>
      <% if order_item.ribbon %>
        <p>Ruban Satin blanc / Lettrage Or : <%= humanized_money_with_symbol(order_item.options) %></p>
        <p class="total">Total : <%= humanized_money_with_symbol(order_item.subtotal) %></p>
      <% end %>
      <p>Occasion : <%= order_item.occasion %></p>

    </div>
    <% elsif order_item.product.product_type == "Normal"  %>
      <div class="cart-item-spec2">
        <p>Prix : <%= humanized_money_with_symbol(order_item.product.min_price) %></p>
        <p>Quantité : <%= order_item.quantity %></p>
        <% if order_item.water_bubble %>
          <p>Bulle d'eau : <%= humanized_money_with_symbol(order_item.options) %></p>
          <p class="total">Total : <%= humanized_money_with_symbol(order_item.subtotal) %></p>
        <% end %>
        <% if order_item.ribbon %>
          <p>Ruban Satin blanc / Lettrage Or : <%= humanized_money_with_symbol(order_item.options) %></p>
          <p class="total">Total : <%= humanized_money_with_symbol(order_item.subtotal) %></p>
        <% end %>
        <p>Occasion : <%= order_item.occasion %></p>
      </div>
    <% end %>

  </div>
</div>
