<h1 class= "title">Mon panier</h1>
<div class="container">
  <div class="cart">

    <div class="cart-items">
    <h4><%= pluralize(current_order.order_items.size, 'article') %> (total : <%= current_order.subtotal  %>€)</h4>
      <% @order_items.each do |order_item| %>
        <%= render 'cart_item', order_item: order_item %>
      <% end %>
    </div>

    <div class="order-options">
      <h3>Livraison / Collecte</h3>
      <div class="delivery-form" data-controller="toggle-delivery-fields">
        <%= simple_form_for [@order] do |f| %>
          <%= f.input :transport, label: "Mode de livraison :", as: :radio_buttons, collection_wrapper_tag: "div", collection_wrapper_class: 'category-wrapper', item_wrapper_class: 'category-item', input_html: { class: 'category-selector', data: { target: 'toggle-delivery-fields.transport' }, data: { action: 'change->toggle-delivery-fields#toggleFields' } }, collection: Order::TRANSPORT %>
          <div data-toggle-delivery-fields-target="deliveryFields" id="delivery-fields" >
            <div class="address">
              <% if @order.delivery_address %>
                <p>Adresse de livraison choisie :</p>
                <p class="form-control"><%= @order.delivery_address %></p>
              <% end %>
            </div>
            <div class="form-group">
              <%= f.input :delivery_address,
              input_html: {data: {address_autocomplete_target: "address"}},
              wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}},
              label: "Entrer l'adresse de livraison :",
              as: :hidden%>
            </div>
          </div>
            <%= f.input :delivery_instructions, as: :text, label: "Instructions de livraison :" %>
          </div>
          <%= f.input :phone, label: "Numéro à contacter :" %>
          <div class="date-input" data-controller="date-validation">
            <%= f.input :date, as: :date, html5: true, label: "Date de livraison souhaitée :" ,input_html: { id: "order_date", "data-action": "input->date-validation#checkDate", "data-date-validation-target": "dateInput" } %>

            <!-- Modal invalid date -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-date-validation-target="myModal">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Date invalide</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p id="modalMessage" data-date-validation-target="modalMessage"></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn-action" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <%= f.submit "Valider", class: "btn-action"  %>

        <% end %>
        <% if !@order.in_delivery_area?  %>
          <p class="warning-delivery alert-danger">Désolé, la livraison est impossible à cette adresse</p>
        <% end %>
      </div>
    </div>

  </div>
</div>
