<h1 class= "title">Mon panier</h1>
<div class="container">

  <div class="cart-header">
    <%= link_to "Continuer mes achats", creations_path, class: "btn-action"%>
    <% if ShopStatus.last.active?  %>
      <%= link_to "Valider & Payer", validate_order_path(@order), class: "btn-action", data: { turbo_method: :patch } %>
    <% end %>
  </div>

  <div class="cart-warning">
    <p class="font-italic">⚠️ Bien remplir les champs "Informations Personnelles" et "Livraison/Collecte" avant de valider votre commande.</p>
  </div>

  <div class="cart">
    <div class="cart-items-and-recap">
      <div class="cart-recap">
        <h3 class="text-center mb-4">Récapitulatif</h3>
        <div class="recap-section">
          <p><%= pluralize(@order.order_items.size, 'article') %> : </p>
          <p><%= humanized_money_with_symbol(current_order.subtotal) %></p>
        </div>
        <div class="recap-section">
          <% if @order.transport == "Click & Collect" %>
            <p>Retrait en boutique : </p>
            <p>Gratuit</p>
          <% elsif @order.transport == "Livraison" && @order.delivery_cost == 0 %>
            <p>Livraison : </p>
            <p>Gratuit</p>
          <% elsif @order.transport == "Livraison" && @order.delivery_cost != 0 %>
            <p>Livraison : </p>
            <p><%= humanized_money_with_symbol(current_order.delivery_cost) %></p>
          <% end %>
        </div>
        <div class="recap-section total">
          <p class="fs-5">Total : </p>
          <p class="fs-5"><%= humanized_money_with_symbol(current_order.total) %></p>
        </div>
      </div>

      <div class="cart-items">
        <h3 class="text-center mb-4">Articles</h3>
        <% @order_items.each do |order_item| %>
          <%= render 'cart_item', order_item: order_item %>
        <% end %>
      </div>
    </div>

    <div class="order-infos">
      <%= simple_form_for [@order], data: { turbo: "true" } do |f| %>

        <div class="order-user-infos">
          <h3 class="text-center mb-4">Informations personnelles</h3>
          <%= f.input :first_name, as: :string, label: "Prénom :" %>
          <%= f.input :last_name, as: :string, label: "Nom :" %>
          <%= f.input :email, as: :string, label: "Email :" %>
          <%= f.input :phone, label: "Téléphone :" %>


        </div>

        <div class="order-transport-infos">
          <h3 class="text-center mb-4">Livraison / Collecte</h3>
          <div class="delivery-form" data-controller="toggle-delivery-fields">
              <%= f.input :transport, label: "Mode de livraison :", as: :radio_buttons, collection_wrapper_tag: "div", collection_wrapper_class: 'category-wrapper', item_wrapper_class: 'category-item', input_html: { class: 'category-selector', data: { action: 'change->toggle-delivery-fields#toggleFields' } }, collection: Order::TRANSPORT %>
              <% if @order.delivery_address.present? && !@order.in_delivery_area  %>
                <p class="warning-delivery alert-danger">Désolé, la livraison est impossible à l'adresse indiquée 🙁</p>
              <% end %>

              <div data-toggle-delivery-fields-target="deliveryFields" id="delivery-fields" >
                <% if @order.delivery_address.present? %>
                  <div class="address">
                      <p>Adresse de livraison :</p>
                      <p class="input-address"><%= @order.delivery_address %></p>
                  </div>
                  <div class="form-group">
                    <%= f.input :delivery_address,
                    input_html: {data: {address_autocomplete_target: "address"}},
                    wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}},
                    label: "Changer l'adresse de livraison :",
                    as: :hidden%>
                  </div>
                  <div class="delivery-name">
                  </div>
                  <div class="delivery-name">
                    <%= f.input :delivery_first_name, as: :string, label: "Prénom :" %>
                    <%= f.input :delivery_last_name, as: :string, label: "Nom :" %>
                  </div>
                  <%= f.input :delivery_instructions, as: :text, label: "Instructions de livraison :" %>
                <% else %>
                  <div class="form-group">
                    <%= f.input :delivery_address,
                    input_html: {data: {address_autocomplete_target: "address"}},
                    wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}},
                    label: "Entrer l'adresse de livraison :",
                    as: :hidden%>
                  </div>
                  <div class="delivery-name">
                    <%= f.input :delivery_first_name, as: :string, label: "Prénom :" %>
                    <%= f.input :delivery_last_name, as: :string, label: "Nom :" %>
                  </div>
                  <%= f.input :delivery_instructions, as: :text, label: "Instructions de livraison :", hint: "Code immeuble, Numéro à contacter, etc..." %>
                <% end %>
              </div>

              <p>Date de livraison/collecte souhaitée :</p>
              <div class="date-and-time" data-controller="date-validation">
                <div class="date-input">
                  <%= f.input :date, as: :date, html5: true, label: false ,input_html: { id: "order_date", "data-action": "input->date-validation#checkDate", "data-date-validation-target": "dateInput", value: (@order.date) } %>
                  <!-- Modal invalid date -->
                  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-date-validation-target="myModal">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="myModalLabel">Date invalide</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <p id="modalMessage" data-date-validation-target="modalMessage" class="pb-0"></p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn-action" data-dismiss="modal">Fermer</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="time-slot-input">
                  <%= f.input :time_slot, label: "", as: :radio_buttons, collection_wrapper_tag: "div", collection_wrapper_class: 'inline-radio', item_wrapper_class: 'category-item', input_html: { class: 'category-selector' }, collection: Order::SLOT %>
                </div>
              </div>

              <%= f.submit "Mettre à jour les infos", class: "btn-action"  %>
          </div>
        </div>
      <% end %>
    </div>


  </div>
</div>
