<h1 class= "title">Modifier mes informations personnelles</h1>
<div class="container">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
    <%= f.input :email, required: true, autofocus: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>
    <!--
    <%= f.input :password,
                hint: "Ne pas remplir si vous ne souhaitez pas le modifier",
                required: false,
                input_html: { autocomplete: "new-password" },
                label: "Nouveau mot de passe" %>
    <%= f.input :password_confirmation,
                required: false,
                input_html: { autocomplete: "new-password" },
                label: "Confirmer le nouveau mot de passe" %>
    -->
    <%= f.input :first_name, label: "Prénom :" %>
    <%= f.input :last_name, label: "Nom :" %>
    <!--<% if @user.address.present? %>
      <div class="address">
          <p>Adresse :</p>
          <p class="input-address"><%= @user.address %></p>
      </div>
      <div class="form-group">
        <%= f.input :address,
        input_html: {data: {address_autocomplete_target: "address"}},
        wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}},
        label: "Changer votre adresse :",
        as: :hidden%>
      </div>
    <% else %>
      <div class="form-group">
        <%= f.input :address,
        input_html: {data: {address_autocomplete_target: "address"}},
        wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}},
        label: "Entrer votre adresse :",
        as: :hidden%>
      </div>
    <% end %>-->
    <%= f.input :phone, label: "Téléphone :" %>
    <%= f.input :current_password,
                required: true,
                input_html: { autocomplete: "current-password" },
                label: "Mot de passe (obligatoire pour valider les changements)",
                hint: "Mot de passe oublié ? Déconnectez-vous et cliquez sur 'Mot de passe oublié' sur la page de connexion à votre compte" %>
    <%= f.submit "Mettre à jour", class: "btn-action" %>
  <% end %>
</div>
