<h1 class= "title">Créer un compte</h1>
<div class="container">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" },
                  label: "Email"%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" },
                  label: "Mot de Passe" %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" },
                  label: "Entrer à nouveau le mot de passe" %>
      <%= f.input :first_name,
                  required: true,
                  input_html: { autocomplete: "first_name" },
                  label: "Prénom"%>
      <%= f.input :last_name,
                  required: true,
                  input_html: { autocomplete: "last_name" },
                  label: "Nom"%>
      <!-- <%= f.input :address,
                  required: false,
                  autofocus: true,
                  input_html: {data: {address_autocomplete_target: "address"}, class: "d-none"},
                  wrapper_html: {data: {controller: "address-autocomplete", address_autocomplete_api_key_value: ENV["MAPBOX_API_KEY"]}},
                  label: "Adresse"%> -->
      <%= f.input :phone,
                  required: true,
                  input_html: { autocomplete: "phone" },
                  label: "Téléphone"%>
    </div>
    <div class="form-actions">
      <%= f.submit "Créer un compte", class: "btn-action"  %>
    </div>
  <% end %>

  <div class="d-flex mt-3">
    <p class="me-2">Vous avez déjà un compte ?</p>
    <%= render "devise/shared/links" %>
  </div>
</div>
