<div class="card-product-shop">
  <% if product.photos.size > 1 %>
    <div class="product-image-shop">
      <img class="d-block w-100" src="<%= cl_image_path product.photos.first.key %>" alt="photo"
      data-controller="image-hover"
      data-action="mouseenter->image-hover#showMouseEnter mouseleave->image-hover#showMouseLeave"
      data-image-hover-target="image"
      data-image-hover-second-image-value="<%= cl_image_path product.photos[1].key %>"
      >
    </div>
  <% elsif product.photos.size == 1 %>
    <div class="product-image-shop">
      <img class="d-block w-100" src="<%= cl_image_path product.photos.first.key %>" alt="photo">
    </div>
  <% else %>
    <div class="product-image-shop">
      <%= image_tag("boutique-link.jpg", class: "d-block w-100") %>
    </div>
  <% end %>
  <div class="product-info-shop">
    <h2><%= product.name %></h2>
    <p>à partir de <%= humanized_money_with_symbol(product.min_price) %></p>
    <%= link_to "Personnaliser", product_path(product), class:"btn-personnaliser-thin" %>
  </div>
</div>
