<h1 class= "title">Mes créations</h1>
<button data-controller="scroll-top" data-action="click->scroll-top#scrollTop" data-scroll-top-target="scrollBtn" id="scrollBtn"><i class="fa-solid fa-arrow-up"></i></button>



<div class="container">

<div class="filter">
<%= simple_form_for :filter, url: creations_path, method: :get do |f| %>
  <div class="form-group">
    <div class="checkboxes">
      <%= f.collection_check_boxes :category_ids, @all_categories, :id, :name, include_hidden: false do |b| %>
      <div class="checkbox-item">
        <div class="checkbox-container">
          <%= b.check_box(checked: @selected_category_ids.include?(b.value), class: 'checkbox-hidden') %>
          <%= b.label(class: 'checkbox-label') do %>
            <%= b.text %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="form-group d-flex">
    <%= f.submit 'Filtrer', class: 'btn-action' %>
    <%= link_to 'Toutes les créations', creations_path, class: 'btn-all' %>
  </div>
<% end %>
</div>



  <% @categories.each do |category| %>
    <%= render 'category', category: category %>
  <% end %>
</div>
