<div class="footer">
  <div class="footer-content">
    <div class="footer-content-element">
      <p class="footer-content-element-header">SERVICE CLIENT</p>
      <p><a class="footer-link" href="<%= conditions_generales_de_vente_path %>">CGV</a></p>
      <p><a class="footer-link" href="<%= mentions_legales_path %>">Mentions légales</a></p>
    </div>
    <div class="footer-content-element">
      <p class="footer-content-element-header">INFOS</p>
      <p><a class="footer-link" href="<%= contact_path %>">Nous contacter</a></p>
      <p><a class="footer-link" href="<%= livraison_path %>">Livraison</a></p>
    </div>
    <div class="footer-content-element">
      <p class="footer-content-element-header">MON COMPTE</p>
      <p><a class="footer-link" href="<%= compte_path %>">Mon compte</a></p>
      <p><a class="footer-link" href="<%= mes_commandes_path %>">Mes commandes</a></p>
    </div>
    <div class="footer-content-element">
      <p class="footer-content-element-header">ADRESSE</p>
      <p>Solstice Fleuriste</p>
      <p>32 rue Joseph Suacot,</p>
      <p>97429, Petite Île</p>
      <p>La Réunion</p>
      <p><i class="fa-solid fa-phone"></i> +262 262 51 71 78</p>
    </div>
    <div class="footer-content-element">
      <p class="footer-content-element-header">HORAIRES</p>
      <p>Lundi : Fermé</p>
      <p>Mardi : 9h00 - 12h00 | 14h00 - 18h00</p>
      <p>Mercredi : 9h00 - 12h00 | 14h00 - 18h00</p>
      <p>Jeudi : 9h00 - 12h30 | 14h30 - 18h30</p>
      <p>Vendredi : 9h00 - 12h30 | 14h30 - 18h30</p>
      <p>Samedi : 9h00 - 12h30 | 14h30 - 18h30</p>
      <p>Dimanche : 9h00 - 12h00 </p>
    </div>
  </div>

  <div class="footer-footer">
    <div class="footer-footer-element">
      <p>© Solstice Fleurs 2023</p>
    </div>

    <ul class="social footer-footer-element">
      <li>
        <a href="https://www.instagram.com/solstice.fleuriste/" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/solsticefleuriste?locale=fr_FR" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
    </ul>

    <div class="footer-footer-element payment">
      <p><i class="fa-brands fa-stripe"></i>   <i class="fa-brands fa-cc-visa"></i>   <i class="fa-brands fa-cc-mastercard"></i></p>
      <p class="current-order">order :<%= current_order.id %> </p>

    </div>

  </div>
</div>
