
<div class="menu-modal">
  <div class="menu-list">
    <div class="menu-column column-1">
      <p><a class="menu-modal-link" href="<%= boutique_path %>">La boutique</a></p>
      <p><a class="menu-modal-link" href="<%= livraison_path %>">Livraison</a></p>
      <p><a class="menu-modal-link" href="<%= contact_path %>">Contact / Devis</a></p>
    </div>
    <div class="menu-column column-2">
      <p><a class="menu-modal-link" href="<%= creations_path %>">Boutique en ligne</a></p>
      <p><a class="menu-modal-link" href="<%= evenements_path %>">Evénements</a></p>
      <p><a class="menu-modal-link" href="<%= deuil_path %>">Deuil</a></p>
    </div>
  </div>
  <div class="menu-modal-footer">
    <ul class="footer-links">
      <li>
        <a href="https://www.instagram.com/solstice.fleuriste/" target="_blank">
          <i class="fa-brands fa-instagram"></i>
        </a>
      </li>
      <li>
        <a href="https://www.facebook.com/solsticefleuriste?locale=fr_FR" target="_blank">
          <i class="fa-brands fa-facebook"></i>
        </a>
      </li>
      <li>
        <a href="<%= panier_path %>">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
      </li>
      <li>
        <a href="<%= compte_path %>">
          <i class="fa-solid fa-user"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
