<h1 class= "title">Définir la zone de livraison</h1>
<div class="container">
    <%= form_with(model: @polygon, local: true) do |form| %>
      <div class="map">
        <div id="map" style="width: 100%; height: 400px;" data-controller="polygon-drawing"
        data-polygon-drawing-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>" data-polygon-drawing-current-coordinates-value="<%= Polygon.last.coordinates %>">
          <div class="field">
            <%= form.hidden_field :coordinates, id: "polygon_coordinates" %>
          </div>
        </div>
        <div class="actions">
          <%= form.submit 'Enregistrer', class:"btn-action action-button" %>
        </div>
      </div>
    <% end %>
</div>
