<h1 class= "title">Définir la zone de livraison</h1>
<div class="container">
  <%= form_with(model: @polygon, local: true) do |form| %>
    <div class="field">
      <%= form.hidden_field :coordinates, id: "polygon_coordinates" %>
    </div>
    <div class="map">
      <div id="map" style="width: 100%; height: 400px;" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>" data-polygon-coordinates="<%= Polygon.last.coordinates %>"></div>
      <div class="actions">
        <%= form.submit 'Enregistrer', class:"btn-action action-button" %>
      </div>
    </div>
  <% end %>
</div>
