<div class="card-order" data-controller="toggle-order-details">

  <div class="card-order-header">
    <h3>Commande #<%= order.id%></h3>
      <% if order == current_order %>
        <div class="card-order-panier">
          <%= link_to "Voir mon panier", panier_path, class: "btn-action" %>
        </div>
      <% else %>

        <% if current_user.admin? %>
          <div class="card-order-actions">
          <!-- Edit the Order (Bootstrap Modal) -->
          <%= link_to ('<i class="fa-solid fa-pen-to-square"></i>').html_safe,  '#', 'data-target' => "#myModal_#{order.id}", 'data-toggle' => 'modal', class: "fs-4"  %>
          <div class="modal fade" id='<%= "myModal_#{order.id}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title" id="myModalLabel">Modifier la commande : </h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= render 'orders/card_order_form', order: order %>
                </div>
              </div>
            </div>
          </div>
          <!-- Delete the Order Item -->
          <%= link_to ('<i class="fa-regular fa-trash-can"></i>').html_safe, order_path(order), class: 'text-danger fs-4', data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr/sure?" } %>
          </div>
        <% end %>
      <% end %>
  </div>

  <div class="card-order-info">
    <div class="card-order-main-info">
      <p class="order-date"><%= order.date.strftime("%e/%m/%Y") %></p>
      <p class="order-transport-info"><%= order.transport %></p>

      <% if current_user.admin? %>
        <%= simple_form_for order, html: { class: "order-edit-status-form"} do |f| %>
          <%= f.input :status, collection: ["En Attente de Paiement", "Payée", "En préparation", "Prête", "Livrée", "Annulée", "Remboursée"], label: false, html: { class: "btn-action"}, include_blank: false %>
          <%= f.submit "OK", class:"btn-action ml-2" %>
        <% end %>
      <% else %>
        <p class="order-status"><%= order.status  %></p>
      <% end %>

    </div>
    <button class="card-order-info-btn" data-action="click->toggle-order-details#toggleDetails" data-toggle-order-details-target="button">Afficher les détails</button>
  </div>

  <div class="card-order-details hidden" data-toggle-order-details-target="details">

      <div class="order-user">
        <%= image_tag("order-user.png", class: "order-picto") %>
        <% if order.user %>
          <div class="user-info">
            <div class="user-identity">
            <p><i class="fa-solid fa-user"></i> <%= order.user.first_name  %> <%= order.user.last_name %></p>
            <p><i class="fa-solid fa-at"></i> <%= order.user.email %></p>
            <p></p>
            </div>
            <div class="user-home">
            <!--<p><i class="fa-solid fa-home"></i> <%= order.user.address %></p>-->
            <p><i class="fa-solid fa-phone"></i> <%= order.user.phone  %></p>
            </div>
          </div>
        <% end %>
      </div>

    <div class="order-transport">
      <%= image_tag("order-transport.png", class: "order-picto") %>
      <div class="transport-info">
        <div class="transport-type">
          <p><i class="fa-solid fa-circle-info"></i> <%= order.transport %></p>
          <p class="pl-3"><i class="fa-solid fa-phone"></i> <%= order.phone  %></p>
        </div>
        <% if order.delivery_address  && order.transport === "Livraison"%>
          <div class="delivery-address">
            <p><i class="fa-solid fa-house"></i> Adresse de livraison :</p>

            <%= link_to "https://www.google.com/maps/dir/'32 Rue Joseph Suacot, Petite Île, 97429, La Réunion'/#{order.delivery_address}/", target: :_blank do %>
              <p> <%= order.delivery_address %></p>
            <% end %>
          </div>
          <div class="delivery-instructions">
            <p><i class="fa-solid fa-circle-exclamation"></i> Instructions : <%= order.delivery_instructions %></p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="order-products">
      <%= image_tag("order-products.png", class: "order-picto") %>
      <div class="order-products-list">
        <% order.order_items.each do |order_item| %>
          <div class="order-item">
            <div class="product-info">
              <p>Produit : <%= order_item.product.name  %></p>
              <img src="<%= cl_image_path order_item.product.photos.first.key %>" alt="">
            </div>
            <% if current_user.admin? %>
              <%= simple_form_for [order_item] do |f| %>
                <%= f.input :occasion, collection_wrapper_tag: "div", collection_wrapper_class: 'category-wrapper', item_wrapper_class: 'category-item', input_html: {class: 'category-selector'}, collection: OrderItem::OCCASIONS, label: false %>

                <%= f.input :message, as: :text, placeholder: "", label: false %>

                <div class="price-input-container", data-controller="price-input-range">
                  <span class="value" data-price-input-range-target="labelPrice">€<%= number_with_precision(order_item.price_cents/100, precision: 2) %></span>
                  <%= f.input :price, as: :range, label: false, input_html: { min: order_item.product.min_price_cents/100, max: 150, step: 1, value: order_item.price_cents/100, class: "range-input", data: { price_input_range_target: "valuePrice", action: "input->price-input-range#changePrice" }} %>
                </div>
                <%= f.submit "Mettre à jour", class: "btn-action"  %>
              <% end %>
            <% else %>
              <p>Occasion : <%= order_item.occasion  %></p>
              <p>Message : "<%= order_item.message %>"</p>
              <p>Budget : <%= order_item.subtotal %> €</p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

  </div>

</div>
