<div class="card-order" data-controller="toggle-order-details">

  <div class="card-order-header">
    <h3>Commande #<%= order.id%></h3>
      <% if order == current_order %>
        <div class="card-order-panier">
          <%= link_to "Voir mon panier", panier_path, class: "btn-action" %>
        </div>
      <% else %>

        <% if current_user.admin? %>
          <div class="card-order-actions">
          <!-- Edit the Order (Bootstrap Modal) -->
          <%= link_to ('<i class="fa-solid fa-pen-to-square"></i>').html_safe,  '#', 'data-target' => "#myModal_#{order.id}", 'data-toggle' => 'modal', class: "fs-4"  %>
          <div class="modal fade" id='<%= "myModal_#{order.id}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="myModalLabel">Modifier la commande : </h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= render 'orders/card_order_form', order: order %>
                </div>
              </div>
            </div>
          </div>
          <!-- Delete the Order Item -->
          <%= link_to ('<i class="fa-regular fa-trash-can"></i>').html_safe, order_path(order), class: 'text-danger fs-4', data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr/sure?" } %>
          </div>
        <% end %>
      <% end %>
  </div>

  <div class="card-order-info">
    <div class="card-order-main-info">
      <p class="order-transport-info"><%= order.transport %></p>
      <p class="order-status"><%= order.status  %></p>
      <p><%= order.date.strftime("%e/%m/%Y") %></p>
    </div>
    <button class="card-order-info-btn" data-action="click->toggle-order-details#toggleDetails" data-toggle-order-details-target="button">Afficher les détails</button>
  </div>

  <div class="card-order-details hidden" data-toggle-order-details-target="details">

      <div class="order-user">
        <%= image_tag("order-user.png", class: "order-picto") %>
        <% if order.user %>
          <div class="user-info">
            <div class="user-identity">
            <p><i class="fa-solid fa-user"></i> <%= order.user.first_name  %> <%= order.user.last_name %></p>
            <p><i class="fa-solid fa-at"></i> <%= order.user.email %></p>
            <p></p>
            </div>
            <div class="user-home">
            <p><i class="fa-solid fa-home"></i> <%= order.user.address %></p>
            <p><i class="fa-solid fa-phone"></i> <%= order.user.phone  %></p>
            </div>
          </div>
        <% end %>
      </div>

    <div class="order-transport">
      <%= image_tag("order-transport.png", class: "order-picto") %>
      <div class="transport-info">
        <div class="transport-type">
          <p><i class="fa-solid fa-circle-info"></i> <%= order.transport %></p>
          <p class="pl-3"><i class="fa-solid fa-phone"></i> <%= order.phone  %></p>
        </div>
        <% if order.delivery_address  && order.transport === "Livraison"%>
          <div class="delivery-address">
            <p><i class="fa-solid fa-house"></i> Adresse de livraison :</p>

            <%= link_to '#', 'data-target' => "#myModalAddress_#{order.id}", 'data-toggle' => 'modal', class: "input-address" do %>
              <p> <%= order.delivery_address %></p>
            <% end %>
            <!-- Mini Map (Bootstrap Modal) -->
            <div class="modal fade" id='<%= "myModalAddress_#{order.id}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalAddressLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="myModalAddressLabel">Adresse de Livraison</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= render 'orders/mini_map_modal', order: order %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="delivery-instructions">
            <p><i class="fa-solid fa-circle-exclamation"></i> Instructions : <%= order.delivery_instructions %></p>
          </div>
        <% end %>
      </div>
    </div>

    <div class="order-products">
      <%= image_tag("order-products.png", class: "order-picto") %>
      <div class="order-products-list">
        <% order.order_items.each do |order_item| %>
          <div class="order-item">
            <div class="product-info">
              <p>Produit : <%= order_item.product.name  %></p>
              <img src="<%= cl_image_path order_item.product.photos.first.key %>" alt="">
            </div>
            <p>Occasion : <%= order_item.occasion  %></p>
            <p>Couleur : <%= order_item.color  %></p>
            <p>Message : "<%= order_item.message %>"</p>
            <p>Budget : <%= order_item.price %> €</p>
          </div>
        <% end %>
      </div>
    </div>

  </div>

</div>
