<h1 class= "title">Commandes</h1>
<button data-controller="scroll-top" data-action="click->scroll-top#scrollTop" data-scroll-top-target="scrollBtn" id="scrollBtn"><i class="fa-solid fa-arrow-up"></i></button>
<div class="container">


<div class="order-filter">
  <%= simple_form_for :filter, url: orders_path, class: "filter", method: :get do |f| %>
    <p class="font-weight-bold filter-label"><i class="fa-solid fa-bars-progress"></i> Statut de la commande :</p>
    <div class="status-filter">
      <% @status_options.each do |status_option| %>
        <div class="checkbox-wrapper">
          <%= check_box_tag 'filter[status][]', status_option, @selected_status.include?(status_option), id: "status_#{status_option}", class:"hidden-checkbox" %>
          <label for="status_<%= status_option %>" class="checkbox-label"><%= status_option %> <%= "(#{@orders.where(status: status_option).count})" if @orders.where(status: status_option).count > 0 %></label>
        </div>
      <% end %>
    </div>

    <p class="font-weight-bold filter-label"><i class="fa-solid fa-truck"></i> Livraison / Click & Collect :</p>
    <div class="transport-filter">
      <% @transport_options.each do |transport_option| %>
        <%= f.radio_button :transport, transport_option, { selected: @selected_transport == transport_option} %>
        <%= transport_option %>
      <% end %>
    </div>

    <%= f.submit 'Filtrer', class: 'btn-action' %>
    <%= link_to 'Toutes les commandes', orders_path, class: 'btn-personnaliser-thin' %>
  <% end %>
</div>


  <div class="orders">
    <% @orders.each do |order| %>
      <%= render 'card_order', order: order %>
    <% end %>
  </div>

</div>
