<h1 class= "title">Commandes</h1>
<button data-controller="scroll-top" data-action="click->scroll-top#scrollTop" data-scroll-top-target="scrollBtn" id="scrollBtn"><i class="fa-solid fa-arrow-up"></i></button>
<div class="container">


<div class="order-filter">
  <%= simple_form_for :filter, url: orders_path, class: "filter", method: :get do |f| %>
    <%= f.label :status, 'Statut de la commande : ', class: "filter-label" %>
    <div class="status-filter">
      <% @status_options.each do |status_option| %>
        <label>
          <%= check_box_tag 'filter[status][]', status_option, Array.wrap(@selected_status).include?(status_option) %>
          <%= status_option %>
        </label>
      <% end %>
    </div>

    <%= f.label :transport, 'Livraison / Click & Collect : ', class: "filter-label" %>
    <div class="transport-filter">
      <% @transport_options.each do |transport_option| %>
        <label>
          <%= radio_button_tag 'filter[transport]', transport_option, @selected_transport == transport_option %>
          <%= transport_option %>
        </label>
      <% end %>
    </div>

    <%= f.submit 'Filtrer', class: 'btn-action' %>
    <%= link_to 'Toutes les commandes', orders_path, class: 'btn-personnaliser' %>
  <% end %>
</div>


  <div class="orders">
    <% @orders.each do |order| %>
      <%= render 'card_order', order: order %>
    <% end %>
  </div>

</div>
