<h1 class= "title">Admin</h1>
<div class="container">

  <% if user_signed_in? && current_user.admin? %>

    <div class="admin-links">
      <a class="admin-link" href="<%=commandes_path%>"><h5><i class="fa-solid fa-list"></i> Mes Commandes</h5></a>
      <a class="admin-link" href="<%=catalogue_path%>"><h5><i class="fa-solid fa-book"></i> Mon Catalogue</h5></a>
      <a class="admin-link" href="<%=livraison_path%>"><h5><i class="fa-solid fa-truck"></i> Zone de Livraison</h5></a>
    </div>
<br>
    <h5 class="text-center"><i class="fa-solid fa-store"></i> Ouvrir / Fermer la Boutique</h5>
    <div class="open-shop">
      <%= simple_form_for @shop_status do |f| %>
        <%= f.input :active, as: :boolean, label: 'Boutique ouverte ?', class: 'form-control' %>
        <%= f.input :message, label: 'Message :', class: 'form-control' %>
        <%= f.submit 'Mettre à jour', class: 'btn-action' %>
      <% end %>
    </div>
  <% else %>
  <p class="text-center align-middle">Vous n'avez pas accès à cette page. 🤷‍♂️</p>
  <% end %>

</div>
