

<div class="container">
  <h1 class="heading-home pb-4 text-center">Artisan Fleuriste à Petite Île</h1>

  <div class="menu-container">
    <div class="home-menu text-center">

      <%= link_to creations_path do  %>
        <div class="home-menu-element online-shop" style="background-image: url(<%= asset_path "online-shop-link.jpg" %>)">
          <h2 class="menu-element-label">Mes créations</h2>
        </div>
      <% end %>

      <%= link_to boutique_path do %>
        <div class="home-menu-element boutique" style="background-image: url(<%= asset_path "boutique-link.jpg" %>)">
          <h2 class="menu-element-label">La Boutique</h2>
        </div>
      <% end %>

      <%= link_to mariage_path do  %>
        <div class="home-menu-element mariage" style="background-image: url(<%= asset_path "mariage-link.jpg" %>)">
          <h2 class="menu-element-label">Mariage</h2>
        </div>
      <% end %>

      <%= link_to deuil_path do  %>
        <div class="home-menu-element deuil" style="background-image: url(<%= asset_path "deuil-link.jpg" %>)">
          <h2 class="menu-element-label">Deuil</h2>
        </div>
      <% end %>

    </div>
  </div>

  <div class="contact-section">
    <h1>Un événement à fleurir ? </h1>
    <div class="contact-section-content">
      <div class="contact-section-text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio</p>
      </div>
        <p><a class="btn-action" href="<%= contact_path %>">Demande de devis</a></p>
      <div class="contact-section-image">
        <%= image_tag "mariage-link.jpg" %>
      </div>
    </div>
  </div>
</div>
