<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
        <style>
      @import url("https://fonts.googleapis.com/css2?family=Rouge+Script&family=Source+Serif+4:opsz@8..60&display=swap");

      body {
        background-color: #eaf3db;
      }

      .mail-title {
      color: #052a2b;
      text-align: center;
      font-family: "Rouge Script", "cursive";
      font-size: 3em;
      }

      .title {
      color: #052a2b;
      text-align: center;
      font-family: "Rouge Script", "cursive";
      }

      p {
        font-family: "Source Serif 4", "serif";
        color: #052a2b;
      }

      .banner {
        background-color: #eaf3db;
        width: 100%;
        height: 5em;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-radius: 0.375em;
      }

      .container {
        background-color: #eaf3db;
        padding: 1em;
        margin-top: 1em;
        margin-bottom: 3em;
        color: #052a2b;
        border-radius: 0.375em;
      }

      .btn-action {
        background-color: #788f48;
        padding: 1em;
        text-decoration: none;
        font-family: "Source Serif 4", "serif";
        color: white;
        border: none;

        font-size: 1em;
        line-height: 1.2;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        border-radius: 0.375em;
        text-align: center;
      }

      .order-header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      .order-info {
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        border-radius: 1em;
      }

      .infos {
        border-radius: 0.375em;
        padding: 0.5em;
        margin-bottom: 0.5em;
      }

      .item {
        background-color: white;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        padding: 1em;
        margin-top: 1em;
        margin-bottom: 1em;
        border-radius: 1em;
      }
    </style>
  </head>
  <body>
    <div class="banner">
      <img src="https://www.solstice-fleuriste.fr/assets/solstice_logo_new-3450e48530c0922d63f09fb8f60cf24724d349f2424fb646acdb2b9161438ae4.png" style="width: 5em;">
    </div>
    <h1 class="mail-title">Merci pour votre commande !!</h1>
    <div class="container">
      <div class="order-header">
        <a href="https://www.solstice-fleuriste.fr/mes_commandes" class="btn-action">Mes Commandes</a>
      </div>
      <h1 class="title">Récapitulatif</h1>
      <div class="order-info">
        <div class="infos">
          <h2>Informations Client : </h2>
          <p>Prénom : <%= @order.first_name  %> -  Nom : <%= @order.last_name  %> </p>
          <p>email : <%= @order.email  %></p>
          <h2>Informations Commande : </h2>
          <p>Numéro de Commande : <%= @order.id  %></p>
          <p>Montant : <%= humanized_money_with_symbol(@order.subtotal) %></p>
          <p>Coût de livraison : <%= humanized_money_with_symbol(@order.delivery_cost) %></p>
          <p>Total : <%= humanized_money_with_symbol(@order.total) %></p>
          <p>Type : <%= @order.transport  %></p>
          <p>Date : <%= @order.date.strftime("%e/%m/%Y")  %></p>
          <p>Créneau : <%= @order.time_slot  %></p>
          <% if @order.transport == "Livraison" %>
              <h2>Informations de Livraison : </h2>
              <p>Prénom : <%= @order.delivery_first_name  %> -  Nom : <%= @order.delivery_last_name  %> </p>
              <p>Adresse : <%= @order.delivery_address  %></p>
              <p>Instructions : <%= @order.delivery_instructions  %></p>
          <% end %>
        </div>

      </div>
      <h1 class="title">Articles (<%= @order.order_items.size %>)</h1>
        <% @order.order_items.each do |item| %>

          <% if item.product.product_type == "Custom" %>
            <div class="item">
            <p>Produit : <%= item.product.name  %></p>
            <p>Budget : <%= humanized_money_with_symbol(item.price) %></p>
            <% if item.water_bubble %>
              <p>Bulle d'eau : <%= humanized_money_with_symbol(item.options) %></p>
              <p class="total">Total : <%= humanized_money_with_symbol(item.subtotal) %></p>
            <% end %>
            <% if item.ribbon %>
              <p>Ruban Satin blanc / Lettrage Or : <%= humanized_money_with_symbol(item.options) %></p>
              <p class="total">Total : <%= humanized_money_with_symbol(item.subtotal) %></p>
            <% end %>
            <p>Occasion : <%= item.occasion  %></p>
            <p>Message : "<%= item.message  %>"</p>
            </div>

          <% elsif item.product.product_type == "Normal" %>
            <div class="item">
            <p>Produit : <%= item.product.name  %></p>
            <p>Prix/unitaire : <%= humanized_money_with_symbol(item.price) %></p>

            <% if item.water_bubble %>
              <p>Bulle d'eau : <%= humanized_money_with_symbol(item.options) %></p>
              <p class="total">Total : <%= humanized_money_with_symbol(item.subtotal) %></p>
            <% end %>

            <% if item.ribbon %>
              <p>Ruban Satin blanc / Lettrage Or : <%= humanized_money_with_symbol(item.options) %></p>
              <p class="total">Total : <%= humanized_money_with_symbol(item.subtotal) %></p>
            <% end %>

            <p>Occasion : <%= item.occasion  %></p>
            <p>Message : "<%= item.message  %>"</p>
            </div>
          <% end %>

        <% end %>
    </div>
  </body>
</html>
