<h1 class="title">Récapitulatif de votre Commande</h1>
<div class="container">
  <div class="recap-order-header">
    <div class="recap-order-buttons">
      <%= link_to "Modifier la commande", panier_path, class:"btn-personnaliser", data: { turbo: "false" } %>
      <button id="pay" class="btn-action ml-2">Payer la commande</button>
    </div>
  </div>

  <div class="recap-order-details">

    <div class="recap-and-items">
      <div class="recap">
        <h3 class="text-center mb-4">Récapitulatif</h3>
        <div class="recap-section">
          <p><%= pluralize(@order.order_items.size, 'article') %> : </p>
          <p><%= humanized_money_with_symbol(current_order.subtotal) %></p>
        </div>
        <div class="recap-section">
          <% if @order.transport == "Click & Collect" %>
            <p>Retrait en boutique : </p>
            <p>Gratuit</p>
          <% elsif @order.transport == "Livraison" && @order.delivery_cost == 0 %>
            <p>Livraison : </p>
            <p>Gratuit</p>
          <% elsif @order.transport == "Livraison" && @order.delivery_cost != 0 %>
            <p>Livraison : </p>
            <p><%= humanized_money_with_symbol(current_order.delivery_cost) %></p>
          <% end %>
        </div>
        <div class="recap-section total">
          <p class="fs-5">Total : </p>
          <p class="fs-5"><%= humanized_money_with_symbol(current_order.total) %></p>
        </div>
      </div>
      <div class="cart-items">
        <% @order.order_items.each do |order_item| %>
          <div class="cart-item">
            <div class="cart-item-header">
              <h3><%= order_item.product.name%></h3>
            </div>
            <div class="cart-item-info">
              <div class="cart-item-spec1">
                <ul class="cart-item-images">
                  <img src="<%= cl_image_path order_item.product.photos.first.key %>" alt="">
                </ul>
                <p class="mt-3 mb-1 pl-1">Message :</p>
                <p class="form-control mt-0 font-italic">"<%= order_item.message %>"</p>
              </div>
              <% if order_item.product.product_type == "Custom" %>
                <div class="cart-item-spec2">
                  <p>Occasion : <%= order_item.occasion %></p>
                  <p>Couleur dominante : <%= order_item.color %></p>
                  <p>Budget : <%= humanized_money_with_symbol(order_item.subtotal) %></p>
                </div>
              <% elsif order_item.product.product_type == "Normal"  %>
                <div class="cart-item-spec2">
                  <p>Prix : <%= humanized_money_with_symbol(order_item.product.min_price) %></p>
                  <p>Quantité : <%= order_item.quantity %></p>
                  <p>Total : <%= humanized_money_with_symbol(order_item.subtotal) %></p>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="recap-order-info">
      <div class="recap-order-user-info">
        <h3 class="text-center mb-4">Informations personnelles</h3>
        <p>Prénom : <%= @order.first_name %></p>
        <p>Nom : <%= @order.last_name %></p>
        <p>Email : <%= @order.email %></p>
        <p>Téléphone : <%= @order.phone %></p>
      </div>

      <div class="recap-order-transport-info">
        <% if @order.transport == "Click & Collect" %>
          <h3 class="text-center">Click & Collect</h3>
          <p class="text-center">Commande à récupérer en boutique</p>
          <p class="text-center"> le <%= @order.date.strftime("%e/%m/%Y") %> (<%= @order.time_slot.downcase %>)</p>
          <div class="shop-info">
            <div class="address-home">
              <p><i class="fa-solid fa-home"></i> 32 Rue Joseph Suacot, Petite Île</p>
              <p>97429, La Réunion</p>
              <p><i class="fa-solid fa-phone"></i> +262 262 51 71 78</p>
            </div>
            <p class="text-center"><i class="fa-solid fa-clock fw-bold"></i>  Horaires d'ouverture :</p>
            <div class="time">
              <p>Lundi : Fermé</p>
              <p>Mardi : 9h00 - 12h00 |  14h00 - 18h00</p>
              <p>Mercredi : 9h00 - 12h00 |  14h00 - 18h00</p>
              <p>Jeudi : 9h00 - 12h30 |  14h30 - 18h30</p>
              <p>Vendredi : 9h00 - 12h30 |  14h30 - 18h30</p>
              <p>Samedi : 9h00 - 12h30 |  14h30 - 18h30</p>
              <p>Dimanche : 9h00 - 12h00</p>
            </div>
          </div>
        <% else %>
          <h3 class="text-center">Livraison</h3>
          <p class="text-center">Commande livrée à domicile</p>
          <p class="text-center"> le <%= @order.date.strftime("%e/%m/%Y") %> (<%= @order.time_slot %>)</p>
          <div class="address">
            <p>Adresse de livraison :</p>
            <p class="input-address"><%= @order.delivery_address %></p>
          </div>
          <div class="recap-delivery-name">
            <p>Prénom : <%= @order.delivery_first_name  %></p>
            <p>Nom : <%= @order.delivery_last_name  %></p>
          </div>
          <p>Téléphone : <%= @order.phone %></p>
          <p>Instructions : <%= @order.delivery_instructions  %></p>
        <% end %>
      </div>
    </div>

  </div>

  <script src="https://js.stripe.com/v3/"></script>

  <script>
    const paymentButton = document.getElementById('pay');
    paymentButton.addEventListener('click', () => {
      console.log("PAY");
      const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
      stripe.redirectToCheckout({
        sessionId: '<%= @order.checkout_session_id %>'
      });
    });
  </script>
</div>
