<%= simple_form_for category do |f| %>
  <%= f.input :name, placeholder: category.name, label: 'Nom de la catégorie :', class: 'form-control' %>
  <%= f.input :display, as: :boolean, placeholder: category.display, label: 'Afficher ?', class: 'form-control' %>
  <div class="position">
    <p class="mr-3">Position : </p>
    <%= f.input :position, as: :integer, placeholder: category.position, label: false, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit "Mettre à jour", class:"btn-action" %>
  </div>
<% end %>
