<%= simple_form_for @category do |f| %>
  <%= f.input :name, label: "Nom de la Catégorie :", class: 'form-control' %>
  <div class="position">
    <p class="mr-3">Position :</p>
    <%= f.input :position, as: :integer, label: false, class: 'form-control' %>
  </div>
  <%= f.input :display, as: :boolean, label: 'Afficher ?', class: 'form-control' %>
  <%= f.submit 'Créer', class: 'btn-action' %>
<% end %>
