<h1 class= "title">Catégories</h1>
<button data-controller="scroll-top" data-action="click->scroll-top#scrollTop" data-scroll-top-target="scrollBtn" id="scrollBtn"><i class="fa-solid fa-arrow-up"></i></button>
<div class="container">
  <!-- Modal to Add a new Category -->
  <a type="button" class="btn-action" data-toggle="modal" data-target="#newCategoryModal">
    Ajouter une Catégorie
  </a>
  <div class="modal fade" id="newCategoryModal" tabindex="-1" role="dialog" aria-labelledby="newCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="newCategoryModalLabel">Nouvelle Catégorie</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render 'form_new', category: @category %>
        </div>
      </div>
    </div>
  </div>
  <!-- Button to Create New Product-->
  <%= link_to "Ajouter un Produit", new_product_path, class:"btn-personnaliser"%>

  <!-- Display Categories-->
  <% @categories.each do |category| %>
    <div class="card-category">
      <div class="category-header">
        <h3 class="category-name"><%= category.name %></h3>
        <div class="category-actions">
          <!-- Modal to Edit the Category -->
          <%= link_to ('<i class="fa-solid fa-pen-to-square"></i>').html_safe,  '#', 'data-target' => "#myModal_#{category.id}", 'data-toggle' => 'modal', class: "fs-4"  %>
            <div class="modal fade" id='<%= "myModal_#{category.id}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Modifier la Catégorie</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <%= render 'categories/form', category: category %>
                  </div>
                </div>
              </div>
            </div>
          <!-- Delete Button -->
          <%= link_to ('<i class="fa-regular fa-trash-can"></i>').html_safe, category_path(category), class: 'text-danger fs-4 p-2', data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
        </div>
      </div>

      <p>Position : <%= category.position  %></p>
      <p>Affichée :<% if category.display %>
        <i class="fa-solid fa-check text-success"></i>
      <% else %>
        <i class="fa-solid fa-x text-danger"></i>
      <% end %></p>
      <a href="<%=category_path(category)%>">Voir les <%= category.products.count  %> produits</a>


    </div>
  <% end %>
</div>
