<div class="card-product">
  <div class="product-header">
    <h3><%= product.name %></h3>
    <div class="product-actions">
      <%= link_to ('<i class="fa-solid fa-pen-to-square"></i>').html_safe,  '#', 'data-target' => "#myModal_#{product.id}", 'data-toggle' => 'modal', class: "fs-4"  %>
        <div class="modal fade" id='<%= "myModal_#{product.id}" %>' tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Modifier le produit</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= render 'products/form', product: product %>
              </div>
            </div>
          </div>
        </div>
      <%= link_to ('<i class="fa-regular fa-trash-can"></i>').html_safe, product_path(product), class: 'text-danger fs-4', data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr(e)?" } %>
    </div>
  </div>
  <div class="product-info">
    <div class="product-spec1">
      <p><%= product.description %></p>
      <ul class="product-images">
        <p><%= pluralize(product.photos.size, 'image') %> </p>
        <% product.photos.each do |photo| %>
          <img src="<%= cl_image_path photo.key %>" alt="">
        <% end %>
      </ul>
    </div>
    <div class="product-spec2">
      <p>Position : <%= product.position %></p>
      <p>Disponible :<% if product.available %>
        <i class="fa-solid fa-check text-success"></i>
      <% else %>
        <i class="fa-solid fa-x text-danger"></i>
      <% end %></p>
      <p>Type : <%= product.product_type %></p>
      <% if product.product_type == "Custom" %>
          <p>Prix min. :<%= humanized_money_with_symbol(product.min_price) %></p>
        <% elsif product.product_type == "Normal"  %>
          <p>Prix / unit. :<%= humanized_money_with_symbol(product.min_price) %></p>
      <% end %>
    </div>
  </div>

</div>
