<%= form_for(product, remote: true, html: { multipart: true }) do |f| %>
  <div class="form-group">
    <%= f.label :name, "Nom du produit" %>
    <br>
    <%= f.text_field :name, class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :description, "Description" %>
    <br>
    <%= f.text_area :description, class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :min_price, "Prix minimum" %>
    <%= f.number_field :min_price, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :available, "Disponible ?" %>
    <%= f.check_box :available%>
  </div>
  <div class="form-group">
    <%= f.label :position, "Position" %>
    <%= f.number_field :position, class: 'form-control'%>
  </div>

  <!-- Existing Images -->
  <div class="form-group">
    <%= f.label :remove_image, "Supprimer des images" %>
    <div class="images">
      <% product.photos.each do |photo| %>
        <div>
          <img src="<%= image_tag photo %>" alt="" class="form-image">
          <br>
          <%= f.check_box :remove_image, { multiple: true }, photo.id, nil %>
        </div>
      <% end %>
    </div>
  </div>

  <!-- New Images -->
  <div class="form-group">
    <%= f.label :new_images, "Ajouter des images" %>
    <br>
    <%= f.file_field :new_images, { multiple: true } %>
  </div>

  <div class="form-group">
    <%= f.submit "Mettre à jour", class:"btn-action" %>
  </div>
<% end %>
