<div class="product-show">
  <div class="product-info">
    <div class="product-image">
      <% if @product.photos.size == 0%>
        <%= image_tag "default.jpg" %>
      <% elsif @product.photos.size == 1 %>
        <img class="d-block w-100" src="<%= cl_image_path product.photos.first.key %>" alt="photo" >
      <% elsif @product.photos.size > 1 %>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <% @product.photos.size.times do |i| %>
                    <li data-target="#carouselExampleIndicators" data-slide-to="<%= i %>" class="<%= "active" if i.zero? %>"></li>
                <% end %>
            </ol>
            <div class="carousel-inner">
                <% @product.photos.each_with_index do |photo, index| %>
                    <div class="carousel-item <%= "active" if index.zero? %> " data-bs-interval="false">
                        <img class="d-block w-100" src="<%= cl_image_path photo.key %>" alt="<%= index.ordinalize %> image">
                    </div>
                <% end %>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
          </div>
      <% end %>
    </div>
    <div class="product-desc">
      <p><%= @product.description  %></p>
    </div>
  </div>
  <div class="product-customization">
    <h3 class="product-name"><%= @product.name %></h3>
    <p><i class="fa-solid fa-truck"></i> Livraison Petite Île et environs <a class="nav-link" href="<%= polygon_path(Polygon.last) %>"> (voir la zone de livraison)</a></p>
    <p><i class="fa-solid fa-store"></i> Click & Collect gratuit</p>
    <p>------------------------</p>
    <p>Afin que Solstice réalise le bouquet de vos rêves :</p>
    <div class="custom-form">
      <%= simple_form_for [@product, @order_item] do |f| %>

        <p>1- Indiquez votre budget : (minimum <%= @product.min_price %>€)</p>
        <%= f.input :price, placeholder: @product.min_price.to_s, label: false %>

        <p>2- Précisez l'occasion célébrée :</p>
        <%= f.input :occasion, collection_wrapper_tag: "div", collection_wrapper_class: 'category-wrapper', item_wrapper_class: 'category-item', input_html: {class: 'category-selector'}, collection: OrderItem::OCCASIONS, label: false %>

        <p>3- Choisissez une couleur dominante :</p>
        <%= f.input :color, collection_wrapper_tag: "div", collection_wrapper_class: 'category-wrapper', item_wrapper_class: 'category-item', input_html: {class: 'category-selector'}, collection: OrderItem::COLORS, label: false %>

        <p>4- Rédigez le message que vous souhaitez y joindre :</p>
        <%= f.input :message, as: :text, placeholder: "", label: false %>

        <%= f.submit 'Valider', class: "btn-action" %>
      <% end %>

    </div>
  </div>
</div>
